# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4c44ca6a13c246791a2675a39bddf499865bef4c4b3340f9e2ff01d46c959b7f5baacefcdabf6d75c4633cdafb85cfeec45a86f412d085b9293b1c830d8dbf80

test:
  secret_key_base: 9037ce77413c9bf2aaf3f219b73702d5c1a1822f2100b6d798a3c42bc2867413fd932bd47a511b0f2b623df0f6766775adaf7e9efc2c241ee25c4ffbe20e5971

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  amazon:
    smtp:
      host: host.example.com
      port: 25
      user_name: your_user_name
      password: your_password
      from: notifications@example.com